In [ ]:
import pandas, matplotlib as plt
df = pandas.read_csv("data/BeamRepositoryDATA.csv")

df1 = df.sort_values("NestID")
df1.to_csv("data/BeamRepositoryDATASorted.csv", index=False)

In [19]:
print(f"Unqiue item numbers: {df["ItemNumber"].nunique()}")
print(f"Unqiue Nest Ids: {df["NestID"].nunique()}")

Unqiue item numbers: 8924
Unqiue Nest Ids: 11477

In [20]:
df1 = df.groupby(["ItemNumber"])
df1.head()

       NestID  Length  TotalLength ItemNumber  RemainingLength
0        7872     486         4094      01846              0.0
1        7874     469         6000      01841              0.0
2        7880     493         5916      01838             84.0
3        7880     493         5916      01839             84.0
4        7880     493         5916      01842             84.0
...       ...     ...          ...        ...              ...
53405    6294     447          894      03793           4795.0
53408   10089     160          320      04504           3180.0
53409   10089     160          320      04505           3180.0
53411   10127     554         1108      04355           3225.0
53430    5872    1110         1110      05116           2004.0

[27220 rows x 5 columns]